{
  "trailingComma": "all",
  "semi": true,
  "eslintIntegration": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "printWidth": 160,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
